
{% extends 'base.html' %}

{% block title %}
  - Code Input
{% endblock title %}

{% block content %}
<style>
  .code {
    min-height: max(calc({{ num_lines }}em * 1.5 + 2 * 1em), 24em);
    min-width: max(calc({{ max_chars }}ch + 4 * 2em), 64em);
  }
</style>
<form>
  <textarea
    class="code"
    name="code"
    placeholder="Paste your Python code here"
  >{{ code }}</textarea>
  <div class="controls">
    <button formmethod="post"
            formaction="{{ url_for('reset_session') }}">
      Reset Session
    </button>
    <button formmethod="post" formaction="{{ url_for('save_style') }}">
        -> Next
    </button>
  </div>
</form>
{% endblock content %}
